body{
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}
#title{
    display: inline-block;
    width: 100%;
    background-color: #2f7585;
    font-size: 30px;
    text-align: center;
    color: white;
    user-select: none;
}
#hechoEnPuertoRico{
    font-size: 20px;
    user-select: none;
}
#options{
    display: inline-block;
    width: 100%;
    font-size: 25px;
    text-align: center;
    border-bottom: 3px solid #2f7585;
}
.option{
    color: #2f7585;
    border: 3px solid #2f7585;
    margin: 3px;
    display: inline-flex;
    padding: 3px;
    border-radius: 7px;
    user-select: none;
}
.option:hover{
    background-color: #2f7585;
    color:white;
    cursor: pointer;
}
#accountHolder{
    display: inline-block;
    width: 30%;
    background-color: #2f7585;
    height: 100%;
    overflow: auto;
    float: left;
}
.accountName{
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    text-align: center;
    background-color: white;
    color: #2f7585;
    font-size: 26px;
    word-wrap: break-word;
    user-select: none;
}
.accountName:hover{
    background-color: #2f7585;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    box-sizing: border-box;
}
#detailsHolder{
    width: 70%;
    display: inline-block;
    float: left;
    background-color: #ecf0f5;
    overflow: auto;
}
.info{
    width: calc(80% - 20px);
    margin-left: calc(10% - 10px);
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 3px;
}
#acNam{
    text-align: center;
    font-size: 30px;
    word-wrap: break-word;
    color: #e33c4f;
    user-select: none;
}
.input{
    width: 100%;
    border-bottom: 1px solid #808080;
    font-size: 15px;
    min-height: 16px;
    margin-bottom: 10px;
}
[contenteditable]:focus {
    outline: 0px solid transparent;
}
#delete{
    background-color: red;
    color: white;
}
#show-hide{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5%;
    min-width: 40px;
    cursor: pointer;
}
#copy{
    width: 5%;
    position: absolute;
    bottom: 0;
    left: 30%;
    min-width: 40px;
    cursor: pointer;
}
#notification{
    display: none;
    position: fixed;
    bottom: 3px;
    width: 100%;
    text-align: center;
}
#notiBack{
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    padding: 3px;
    border: 1px solid black;
}
input{
  border: none;
  outline: none;
}