#prompt{
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.7);
    display: none;
}
#promptBox{
    width: calc(60% - 10px);
    height: calc(70% - 10px);
    position: fixed;
    top: calc(15% - 10px);
    left: calc(20% - 10px);
    background-color: #2f7585;
    border-radius: 20px;
    padding: 10px;
}
#question{
    color: white;
    font-size: 25px;
}
#questionAnswer{
    width: calc(100% - 15px);
}
.btns{
    float: left;
    width: calc(50% - 5px);
    margin-top: 5px;
    text-align: center;
    font-size: 23px;
    color: #2f7585;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}
.btns:hover{
    background-color: #2f7585;
    border: 3px solid white;
    box-sizing: border-box;
    color: white;
}
#cancelButton{
    margin-right: 5px;    
}
#enterButton{
    margin-left: 5px;
}
/*Confirm CSS*/
#confirm{
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.7);
    display: none;
}
#confirmBox{
    width: calc(60% - 10px);
    height: calc(70% - 10px);
    position: fixed;
    top: calc(15% - 10px);
    left: calc(20% - 10px);
    background-color: #2f7585;
    border-radius: 20px;
    padding: 10px;
}
#confirmQuestion{
    color: white;
    font-size: 25px;
}
#cCancelButton{
    margin-right: 5px;    
}
#cEnterButton{
    margin-left: 5px;
}