body{
    margin: 0;
    padding: 0;
    user-select: none;
}
#title{
    display: inline-block;
    width: 100%;
    background-color: #2f7585;
    font-size: 30px;
    text-align: center;
    color: white;
}
#hechoEnPuertoRico{
    font-size: 20px;
}
#options{
    display: inline-block;
    width: 100%;
    font-size: 25px;
    text-align: center;
    border-bottom: 3px solid #2f7585;
}
.option{
    color: #2f7585;
    border: 3px solid #2f7585;
    margin: 3px;
    display: inline-flex;
    padding: 3px;
    border-radius: 7px;
}
.option:hover{
    background-color: #2f7585;
    color:white;
    cursor: pointer;
}
#container{
    display: inline-block;
    width: 100%;
}
.item{
    color: white;
    background-color: #2f7585;
    border: 3px solid #2f7585;
    margin: 3px;
    display: inline-flex;
    padding: 10px;
    font-size: 27px;
    border-radius: 7px;
}
.item:hover{
    background-color: white;
    color:#2f7585;
    cursor: pointer;
}
.delete{
    background-color: red;
    color: white;
    font-size: 27px;
    padding: 10px;
    border-radius: 7px;
    transition:font-size 0.1s;
    cursor: pointer;
}
.delete:hover{
    font-size: 33px;
}
#previewBack{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255,255,255);
    width: 100%;
    height: 100vh;
    display: none;
    overflow: auto;
}
#preTitle{
    width: 100%;
    font-size: 30px;
    text-align: center;
}
#warning{
    color: red;
}
input[type=checkbox]{
  outline: none;
}
.fContainer{
  width: 90%;
  margin-left: calc(5vw - 20px);
  padding: 20px;
  background-color: #2f7585;
  color: white;
  word-wrap: break-word;
}
.folders{
  font-size: 30px;
  word-wrap: break-word;
  cursor: pointer;
  user-select: none;
}
.filesNames{
  cursor: pointer;
  user-select: none;
}