body{
    margin: 0;
    padding: 0;
    background-color: white;
}
#preTitle{
    display: inline-block;
    width: 100%;
    background-color: #2f7585;
    font-size: 30px;
    text-align: center;
    color: white;
}
#hechoEnPuertoRico{
    font-size: 20px;
}
#options{
    display: inline-block;
    width: 100%;
    font-size: 25px;
    text-align: center;
    border-bottom: 3px solid #2f7585;
}
.option{
    color: #2f7585;
    border: 3px solid #2f7585;
    margin: 3px;
    display: inline-flex;
    padding: 3px;
    border-radius: 7px;
}
.option:hover{
    background-color: #2f7585;
    color:white;
    cursor: pointer;
}
#container{
    display: inline-block;
    width: 100%;
}
#warning{
    color: red;
    border-bottom: 1px solid #2f7585;
    width: calc(100vw - 20px);
    padding: 10px;
}
input[type=checkbox]{
  outline: none;
}
.fContainer{
  width: 90%;
  margin-left: calc(5vw - 20px);
  padding: 20px;
  background-color: #2f7585;
  color: white;
  word-wrap: break-word;
}
.folders{
  font-size: 30px;
  word-wrap: break-word;
  cursor: pointer;
  user-select: none;
}
.filesNames{
  cursor: pointer;
  user-select: none;
}